[package]
name = "migrations"
version = "0.1.0"
edition = "2024"
rust-version = "1.85.0"
publish = false

[lib]
name = "migrations"
path = "src/lib.rs"

[dependencies]
tokio = { workspace = true }
sea-orm-migration = { workspace = true }